<div id="forgotPasswordForm" class="form-style-8" ng-controller="forgotPasswordController as fpController">
    <form ng-submit="submit()">
        <label for="username">Username</label>
        <input ng-model="username" type="text" id="username" placeholder="Enter username" required>
        <select id="questions" ng-model="question" ng-options="q.qid as q.name for q in questions" ng-required="true" required> 
                <option value="" disabled selected>Select a question</option>
            </select><br>
        <label for="answer">answer</label>
        <input ng-model="answer" type="text" id="answer" placeholder="Enter answer" required>
        <button type="submit" ng-disabled="loginForm.$invalid">Login</button>
    </form>
    <div>{{_error}}</div>
</div>